# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
build/
dist/

# Node
node_modules/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local

# LaTeX
*.aux
*.log
*.pdf
*.toc
*.bbl
*.blg
*.out
